html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb( 20, 20, 20 ) !important;
    color: white;
}

h1, h2, h3, h4, p, b, i, span {
    color: white
}

.btn.btn-primary {
    background-color: #9753ff;
    border: 0;
}
.btn.btn-primary:hover {
    background-color: #7646bd;
}
.btn.btn-primary:active {
    background-color: #4900b7;
}

.bg-violet {
    background-color: #4900b7;
}

.divider {
    min-height: 3rem;
    max-height: 40vh;
    height: fit-content;
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    text-align: center;
    color: inherit;
    overflow: hidden;
}

.Section {
    padding: 3rem;
}
@media (max-width:720px) {
    .Section {
        padding: 5px;
    }
}

.hovering {
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    border-radius: 5px;
    padding: 2rem 3rem 2rem 2rem;
    height: 250px;
}
.box-shadow {
    box-shadow: 2px 2px 5px rgba(0,0,0,1);
}
a.btn.btn-primary.mt-3 {
    text-shadow: none;
}

textarea {
    font-family: inherit;
    font-size: 14px;
    border-radius: 5px;
    color: white;
    background-color: inherit;
    padding: 5px;
    border: 1px solid #4900b7;
}

.no-border-top {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    transform: translateY(-6px);
}

.hovering.bg-tc {
    background-image: url( 'https://cdn.glitch.global/07de974e-cea9-42ec-9d9c-fb5d90988eb8/ToolBG.png?v=1689393180783' );
    background-position: center center;
    background-size: cover;
}
.hovering.bg-dabg {
    background-image: url( 'https://cdn.glitch.global/07de974e-cea9-42ec-9d9c-fb5d90988eb8/AppBG.png?v=1689393169905' );
    background-position: center center;
    background-size: cover;
}

pre {
    color: white;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    overflow-x: scroll;
}

footer {
    background-image: url( 'https://cdn.glitch.global/07de974e-cea9-42ec-9d9c-fb5d90988eb8/TopThing.png?v=1689393178986' );
    background-position: center center;
    background-size: cover contain;
}

.violet {
    color: #4900b7;
}

li.nav-item>a {
    color: white!important;
}